

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #777777;
  background-image: url("../images/concrete.png");
}


.photolabel {position: relative;
    max-width: 258px;
    z-index: 2;
    top: -30%;
    left: 0px;
    color: #ffffff;
    height:20%;
    background-color: #4aaaa5;
    text-align: center;
    padding-top: 5%;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }

a {color: #777777;}

.white {color: white;}

.bottomspace {margin-bottom: 5px}

.marek {width:400px;
    height: 79px;
    padding-top: 30px;
    font-size: 36px;
    background-color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
 }


