

body {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: ;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #777777;
  /*background-image: url("../images/concrete.png");*/
  margin-bottom: 60px;
}


.photolabel {position: relative;
    max-width: 258px;
    z-index: 2;
    top: -30%;
    left: 0px;
    color: #ffffff;
    height:20%;
    background-color: #4aaaa5;
    text-align: center;
    padding-top: 5%;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }

a {color: #777777;}

.white {color: white;}

.bottomspace {margin-bottom: 5px}

.marek {width:400px;
    height: 79px;
    padding-top: 30px;
    font-size: 36px;
    background-color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
 }


html {
  position: relative;
  min-height: 100%;
}
/*body {
  margin-bottom: 60px;  Margin bottom by footer height 

}*/

.header {
  background-color: #555;
  height: 64px;
}


.footer {
  text-align: center;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #555;
}

.photome {
  height:400px;
  /*background-image: url("../assets/images/placeholder.png");*/
  /*background-color:#db515e;*/
}

.aboutme{
  height:400px;
  background-color: white;
  /*line-height: 30px !important;*/
  /*color: #848486;*/
}

.mynameis {
  color: #dddddd;
}

.name {
  color: #848486;
}

.lh {
  line-height: 45px;

}

.shadow {
  box-shadow: 0 4px 8px lightgrey;
}

.gray {
  background-color: #fafafa;

}

/*.graybg {
 background-color: #b5b5b6;
}*/

.photosize {
  max-height: 150px;
}


/*CSS for image reveal slider*/

.testContainer {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .testContainer {
    width: 150px;
    height: 150px;
  }
}
.hiddenImage {
  height: 100%;
  position: relative;
}
.hiddenImage img {
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.featured {
  position: absolute;
  background: url("../images/Susan7.jpg") no-repeat;
  /*background: url("https://slm-assets2.secondlife.com/assets/3789218/lightbox/512x512%20PNG%20Landscape%20Texture%20-%20Blue%20Sky.jpg") no-repeat;*/
  background-size: auto 100%;
  width: 100%;
  height: 100%;
}
.reveal {
  z-index: 900;
  height: 100%;
  border-left: 3px solid #555;
  /*border-right: 6px solid #555;*/
  position: absolute;
  right: 0;
  cursor: col-resize;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.5rem;
}
.reveal:after {
  z-index: 900;
  content: "\2194";
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  color: #f1f1f1;
  background: #555;
  position: absolute;
  left: -25px; top: 0; bottom: -140px;
  margin: auto;
}

.reveal2:after {
  content: "in";
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  color: #f1f1f1;
  background: #555;
  position: absolute;
  left: 375px; top: 0; bottom: -240px;
  margin: auto;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.5rem;
  z-index: 900;
}

.reveal3:after {
  content: url("../images/git.PNG");
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  color: #f1f1f1;
  background: #555;
  position: absolute;
  left: 375px; top: 0; bottom: -340px;
  margin: auto;
  /*font-size: 2.1rem;*/
  /*font-weight: bold;*/
  text-align: center;
  line-height: 4.0rem;
  z-index: 900;
}
